*{
    margin: 0px;
}
.container{
    padding: 100px;
}
@keyframes shake {
    0%{transform: rotate(-8deg)}
    50%{transform: rotate(8deg)}
    75%{transform: rotate(-8deg)}
    100%{transform: rotate(0deg)}
}
.ani-btn{
    padding:15px 20px;
    font-size: 20px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    
}
.ani-btn:hover{
    animation-name: shake;
    animation-duration: 0.5s;
}

@keyframes turn {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(-15deg)}
    100%{transform: rotate(45deg) scale(2)}
    
}
.ani-x{
    margin:150px auto;
    text-align: center;
    font-size: 70px;
    width: 80px;
    cursor: pointer;
}
.ani-x:hover{
    animation-name: turn;
    animation-duration: 1s;
    
}

@keyframes slide {
    0%{transform: translateX(-250px)}
    50%{transform: translateX(20px) skewX(30deg) }
    100%{transform: translateX(0px)}
}

.ani-navbar{
    width: 200px;
    background: black;
    color: white;
    height: 100%;
    padding: 25px;
    position: fixed;
    z-index: 5;
    text-align: right;
    transition: all 1s;
    transform: translateX(-150px);
}
.ani-navbar:hover{
    transform: translateX(0px);
    text-align: center;
}
.ani-navbar:hover p{
    animation-name: slide;
    animation-duration: 1s;
}
