*{
    margin: 0px;
}

/* 내 답안 */
/* div[class ^= "box"]{
    width: 40px;
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.wrap{
    display: flex;
    width: 600px;
    height: 600px;
    justify-content: space-between;
}
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-side{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
} */

/* 추가 */


.wrap, 
.wrap > div {
  display:flex;
  justify-content:space-between;
}

.wrap div{
    padding: 30px;
    margin: 30px;
}

.left-side, .center{
  flex-direction:column;
}

.right-side {
  flex-direction:column-reverse;
}



.blue{
    background-color: blue;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}