.container{
    width: 350px;
    height: 140px;
    
    position: relative;
}
.container h3{
    font-size: 12px;
    position: absolute;
    width: 250px;
    height: 15px;
    left: 19px;
    top: 13px;

    line-height: 15px;

}
.container button{
    position: absolute;
    width: 318px;
    height: 40px;
    left: 16px;
    top: 50px;
    background: #711BFF;
    border-radius: 6px;
    border: none;
    color: white;
}
.container button img{
    width: 64px;
    height: 18px;

}

#log-in-area{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 140px;
    left: 25px;
    top: 30px;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 5px;

}

.container-footer{
    position: relative;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #767676;
}

.container-footer img:first-child{
    position: absolute;
    top: 100px;
    left: 10px;

}
.container-footer img{
    width: 24px;
    
}
.container-footer .id{
    position: absolute;
    height: 15px;
    top: 96px;
    left: 40px;
}
.container-footer .l{
    position: absolute;
    height: 15px;
    left: 80px;
    top: 96px;
}

.container-footer .password {
    position: absolute;
    height: 15px;
    left: 90px;
    top: 96px;

}
.container-footer img{
    position: absolute;
    right: 80px;
    top: 100px;
}

.container-footer .signup{
    position: absolute;
    right: 20px;
    top: 96px;
}
